:root {
  background-color: darkslategray;
}

#container {
  background-color: whitesmoke;
  padding-top: 10px;
}

div.container {
  margin: 0px;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;

  /*    testing things below this line  */ 
}
